/* Better new tab screen */
@-moz-document url("about:newtab"), url("about:home"){

	body {
		background: #130F0FE6 !important;
	}

	.search-wrapper {
		display: none;
	}

	.icon {
		opacity: 30%;
	}

	.customize-menu {
		background-color: #2C2727 !important;
	}
}
